# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Local data
data/

# dbt / logs
logs/
target/
dbt_packages/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Terraform
.terraform/
/infrastructure/*.tfstate
/infrastructure/*.tfstate.backup
/infrastructure/.terraform.lock.hcl
/infrastructure/keys/*.json